@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;

body {
  font-size: 14px;
  line-height: 1.25rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: theme('colors.neutral-50');
}

input {
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

@layer components {
  header {
    background-color: theme('colors.primary');
    text-transform: uppercase;
    padding: 14px 16px;
    color: theme('colors.white');
  }

  header a.absolute {
    top: 50%;
    transform: translateY(-50%);
  }

  .input-search-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid theme('colors.neutral-100');
    background-color: theme('colors.neutral-50');
    border-radius: 4px;
    height: 40px;
    padding-inline: 16px;
  }

  .league-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: theme('colors.neutral-50');
    height: 40px;
    padding-inline: 16px;
    border-radius: 4px;
  }

  .match-item {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: theme('colors.neutral-50');
    height: 78px;
    padding: 12px;
    border-radius: 8px;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@tailwind utilities;
