@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;

body {
  font-size: 14px;
  line-height: 1.25rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: theme('colors.neutral-50');
}

input {
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.transition-collapse {
  transition: grid-template-rows 0.5s ease-out;
}

.grid-template-rows-0 {
  grid-template-rows: 0fr;
}

.grid-template-rows-1 {
  grid-template-rows: 1fr;
}

.rotate-180 {
  transform: rotate(180deg);
}

@layer components {
  header {
    background-color: theme('colors.primary');
    text-transform: uppercase;
    padding: 14px 16px;
    color: theme('colors.white');
  }

  header a.absolute {
    top: 50%;
    transform: translateY(-50%);
  }

  .input-search-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid theme('colors.neutral-100');
    background-color: theme('colors.neutral-50');
    border-radius: 4px;
    height: 40px;
    padding-inline: 16px;
  }

  .league-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: theme('colors.neutral-50');
    padding: 10px 16px;
    border-radius: 4px;
  }

  .match-item {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: theme('colors.neutral-50');
    padding: 12px;
    border-radius: 8px;
  }

  .bet-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: theme('colors.neutral-50');
    border-radius: 4px;
    padding: 12px 8px;
  }

  .bet-item:nth-child(-n + 2) {
    margin-top: 12px;
  }

  .btn {
    padding: 8px 16px;
    border-radius: 4px;
  }

  .modal {
    position: fixed;
    left: 0;
    bottom: -100%; /* Start off-screen at the bottom */
    width: 100%;
    transition: bottom 0.7s ease-in-out; /* Use a smooth transition effect */
  }

  .modal.show {
    bottom: 0;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@tailwind utilities;
